<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.2.xsd 
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

<!-- 读取配置文件 -->
<bean  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	<!-- 指定配置文件的位置 -->
	<property name="Location">
		<value>classpath:database.properties</value>
		
	</property>
</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${driver}"/>
  				<property name="url" value="${url}"/>
  				<property name="username" value="${user}"/>
  				<property name="password" value="${password}"/>
	</bean>
	
	<!-- 直接引入mybatis核心配置文件 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:mybatis-config.xml"/>
	</bean>
	
	<!-- 接口映射器 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.cskt.dao"/>
	</bean>
	
	<bean id="hs" class="com.cskt.service.HiberServiceImpl">
		<property name="hm" ref="hiberMapper"></property>
	</bean>
	
	<!-- 事务管理器 -->
	<bean id="tx" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 扫描包 被扫描的包将可以支持注解 -->
	<context:component-scan base-package="com.cskt.service"></context:component-scan>
	
	
	<!-- 创建事务规则 -->
	<tx:advice id="ta" transaction-manager="tx">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED"></tx:method>
		</tx:attributes>
	</tx:advice>
	
	<!-- 开始AOP -->
	<aop:config>
		<aop:pointcut expression="execution(* com.cskt.service.HiberService.*(..))" id="pc"/>
		
		<!-- 切入事务 -->
		<aop:advisor advice-ref="ta" pointcut-ref="pc"/>
	</aop:config>
	
</beans>